<div id="gifDisplay" [ngClass]="classList">
  <div
    id="left"
    [style.animation-duration]="durations.side"
    [ngClass]="classLists.left"
  ></div>
  <div
    id="bottom"
    [style.animation-duration]="durations.topB"
    [ngClass]="classLists.bottom"
  ></div>
  <div
    id="right"
    [style.animation-duration]="durations.side"
    [ngClass]="classLists.right"
  ></div>
  <div
    id="top"
    [style.animation-duration]="durations.topB"
    [ngClass]="classLists.top"
  ></div>
  <img [src]="temp" [ngClass]="this.classes" />
</div>
<app-search-box
  [animateGifContainer]="animate.bind(this)"
  [searchGif]="setGif.bind(this)"
></app-search-box>
